@import '@fontsource/courgette';
@import '@fontsource/oxygen-mono';

html {
  /* font */
  --font-sans: 'Courgette', sans-serif;
  --font-mono: 'Oxygen Mono', monospace;

  /* dark */
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --background-dark: var(--gradient-8);
  --border-dark: var(--gray-9);
  --background-color: #1e1e1e;
}

:root {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);

  --color-firefly: gold;
  --text-shadow-fire: 0 -1px 4px #ffffff80, 0 -2px 10px #ffd70080, 0 -10px 20px #ff800080,
    0 -18px 40px #ff000080;
}

[color-scheme='dark'] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
}

html,
body {
  height: 100%;
}

html {
  color: var(--text-1);
  accent-color: var(--link);
  background-color: var(--background-color);
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  border-radius: var(--radius-3);
}

ul,
ol {
  list-style-type: none;
  list-style-image: url('/icons/list-item.png');
  list-style-position: outside;

  padding-left: var(--size-5);
}

li {
  padding-inline-start: 0;
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text-2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text-2);
}

.surface-3 {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.surface-4 {
  background-color: var(--surface-4);
  color: var(--text-1);
}

/* Global Post Markdown Styles */
.prose :is(h2) {
  font-size: var(--font-size-4);
}

.prose :is(h2, h3, h4, h5, h6) {
  margin-top: var(--size-8);
  margin-bottom: var(--size-3);
  max-inline-size: unset;
}

.prose p {
  max-inline-size: var(--size-content-4);
  text-wrap: pretty;
}

.prose p.highlight::before {
  content: url(/icons/list-item.png);
  padding: 0 var(--size-1);
}

.prose p.highlight {
  color: gold;
  text-shadow: var(--text-shadow-fire);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-top: var(--size-7);
}

.prose :is(ul, ol) li {
  margin-block: var(--size-2);
  padding-inline-start: var(--size-2);
  max-inline-size: var(--size-content-4);
}

.prose pre {
  max-inline-size: 100%;
  padding: 1rem;
  border-radius: 8px;
  tab-size: 2;
}
